* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    background: url(qr-code-cover.jpg);
    background-position: center;
     object-fit: cover;
} 
.wrapper{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 7px;
    max-width: 410px;
    padding: 16px 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(55.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 260px;
}
.wrapper.active {
    height: 530px;
}
header h1 {
    font-size: 21px;
    font-weight: bold;
    font-family: "poppins", sans-serif;
    color: #00023e;
}
.header p {
    margin-top: 5px;
    color: black;
    font-size: 16px;
}
.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;

}
.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    margin-top: 20px;
}
.form button {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: #00023e;
    margin-bottom: 20px;
}
.wrapper .qr-code {
    display: flex;
    padding: 33px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}
.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: optacity 0.5s 0.05s ease;
}